// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: blue;

h1 {
  font: 100% $font-stack;
  font-size: 40px;
  color: $primary-color;
}

body {
  
  background: #33DCE0;
}